---
import type { PollProps as Props, FormConfig, Field } from '../types';

const { submitted, results, maxValue, totalVotes } = Astro.props;

const config = {
  form_name: 'space_missions',
  fields: [
    {
      id: 'freedom-7',
      label: 'Freedom 7',
    },
    {
      id: 'gemini-x',
      label: 'Gemini X',
    },
    {
      id: 'apollo-8',
      label: 'Apollo 8',
    },
    {
      id: 'apollo-11',
      label: 'Apollo 11',
    },
  ],
} as FormConfig;
---

<script>
  const form = document.getElementById('myForm');
  const status = document.getElementById('status');

  const handleSubmit = async (event: SubmitEvent) => {
    event.preventDefault();
    const formData = new FormData(event.target as HTMLFormElement);

    try {
      const response = await fetch('/api/post-result', {
        method: 'POST',
        body: formData,
      });

      const data = await response.json();

      if (!response.ok) {
        throw new Error(data.message);
      }
      window.location.search = 'submitted=true';
    } catch (error) {
      status!.innerHTML = (error as Error).message;
    }
  };

  form?.addEventListener('submit', handleSubmit);
</script>

<div>
  {
    submitted ? (
      <div>
        <p>Results of the poll so far</p>
        <ul>
          {Object.entries(results).map((result: [string, number]) => {
            const [name, value] = result;
            const width = (value / Number(maxValue)) * 100;

            return (
              <li>
                <span>{`x${value}`}</span>
                <label>
                  {name}
                  <progress max={String(maxValue)} value={String(value)}>
                    {value}
                  </progress>
                </label>
              </li>
            );
          })}
        </ul>
        <p id='status'>{`Total Votes: ${totalVotes}`}</p>
      </div>
    ) : (
      <div>
        <p>What's your favorite Space mission?</p>
        <form id='myForm' method='POST'>
          <ul>
            {config.fields.map((field: Field) => {
              const { id, label } = field;

              return (
                <li>
                  <label>
                    <input type='radio' id={id} name={config.form_name} value={label} />
                    {label}
                  </label>
                </li>
              );
            })}
          </ul>
          <button id='submitButton'>vote</button>
          <p id='status' />
        </form>
      </div>
    )
  }
</div>
